<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Python Learning Journal | Entry Detail</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <!-- Ionicons -->
        <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poiret+One|Maven+Pro:400,500" rel="stylesheet">
        <!-- Personal Stylesheets -->
        <link rel="stylesheet" type="text/css" href="/static/base.css">
        <link rel="stylesheet" type="text/css" href="/static/nav.css">
        <link rel="stylesheet" type="text/css" href="/static/card.css">
        <link rel="stylesheet" type="text/css" href="/static/footer.css">
    </head>
    <body>
        <div class="bg-info fixed-top extra-top"></div>
        <nav class="fixed-top w-100">
            <ul class="nav nav-tabs pt-2 px-2 bg-info">
                <li class="nav-item">
                    <a class="nav-link active py-0 my-0" href="/">
                        <span class="ion-ios-bookmarks-outline position-relative" id="logo">
                            <span class="ion-social-python position-absolute"></span>
                        </span>
                        <span class="align-top position-relative d-none d-sm-inline">Learning Journal</span>
                    </a>

                </li>
                <li class="ml-auto nav-item">
                    <a class="nav-link new" href="/journal/new-entry">
                        <span class="d-none d-sm-inline">New</span>
                        <span class="ion-ios-plus-outline d-inline d-sm-none"></span>
                    </a>
                </li>
            </ul>
        </nav>

        <main class="my-5 py-5">

            <div class="container justify-content-sm-center col-sm-10 col-md-8 col-lg-6">

                <div class="card mb-5">
                    <div class="card-header bg-white">
                        <a class="ion-android-create btn btn-outline-warning rounded-circle float-right edit" href="/journal/1/edit-entry"></a>
                        <h2 class="card-title mb-1">Lorem Ipsum</h2>
                    </div>
                    <div class="card-body">
                        <div class="card-text detail mb-3">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nulla ligula, elementum consequat arcu quis, convallis feugiat tortor. Cras facilisis vitae ligula faucibus tincidunt. Duis convallis fringilla varius. Ut ut dolor et nibh consectetur luctus. Aliquam accumsan, magna in ornare commodo, libero ex posuere urna, ac ultrices mauris nibh ac velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea dictumst. Vestibulum ullamcorper lacus placerat ipsum hendrerit posuere in quis lectus. Vivamus dui ante, lobortis eget nisi in, dignissim rhoncus lectus.
                            </p>
                        </div>
                        
                        <time class="card-subtitle text-muted align-text-bottom float-left d-sm-inline py-3 pb-sm-0">Saturday, 28 October, 2017, 12:42 pm</time>
                        
                    </div>
                </div> <!-- end of card -->

            </div> <!-- end of container -->

        </main>

        <footer class="footer text-muted text-center position-absolute py-4 w-100">
            &copy; 2017 Megan Flood, Designed with Bootstrap
        </footer>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>

