{% extends "base.jinja2" %}

{% block content %}
    <form method='POST'>
        <div class="card mb-3">
            <div class="card-header bg-white">
                <input type="text" name="title" placeholder="Title" value="{{ entry.title }}" class="form-control border-light bg-light">
            </div>
            <div class="card-body">
                <div class="card-text detail">
                    <textarea name="body" placeholder="Write a new entry..." class="form-control border-light bg-light">{{ entry.body }}
                    </textarea>
                </div>
            </div>
        </div> <!-- end of card -->
        <div class="row justify-content-center mx-0 position-relative">
            <button type="submit" class="btn btn-warning col col-sm-4">Update</button>

            <div class="w-100 d-sm-none pb-4 pb-sm-0"></div>

            <a ping="{{ request.route_url('delete', id=entry.id) }}" href="{{ request.route_url('home') }}">
                <button type="button" name="delete" class="btn btn-outline-danger btn-sm col-4 col-sm-auto trash">
                    <span class="d-inline d-sm-none">Delete</span>
                    <span class="ion-ios-trash-outline d-none d-sm-inline"></span>
                </button>
            </a>
        </div>
    </form>
{% endblock content %}