html {
    min-height: 100%;
    position: relative;
}

#logo {
    font-size: 2.5rem;
    line-height: 1;
}

#logo span {
    left: 0.45rem;
    top: 0.7rem;
    font-size: 1.5rem;
}

#logo + span {
    top: 0.5rem;
}

.ion-ios-plus-outline {
    font-size: 1.5rem;
    line-height: 1;
}

.nav-tabs .nav-link {
    border-color: #62c2d1 #62c2d1 #ddd;
}

.nav-link:hover, .nav-link:focus {
    background-color: #62c2d1;
}

.new {
    padding-bottom: 0.35rem;
}

@media screen and (min-width: 576px) {

    .new {
        padding-bottom: 0.55rem;
    }
    
}

.card-text {
    overflow: hidden;
    height: 50vh
}

@media screen and (min-width: 576px) {

    .card-text {

        height: 30vh;
    }
    
}

footer.footer {
    bottom: 0;
}

