.extra-top {
    height: 75px;
    top: -75px;
}

#logo {
    font-size: 2.5rem;
    line-height: 1;
    top: 0.1rem;
}

#logo span {
    left: 0.45rem;
    top: 0.7rem;
    font-size: 1.5rem;
}

#logo + span {
    top: 0.5rem;
}

.ion-ios-plus-outline {
    font-size: 1.5rem;
    line-height: 1;
}

.nav-tabs .nav-link {
    border-color: #62c2d1 #62c2d1 #ddd;
}

.nav-link:hover, .nav-link:focus {
    background-color: #62c2d1;
}

.nav-link {
    color: #fff;
    font-family: 'Poiret One', cursive;
    font-weight: 800;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #fff;
}

.nav-link.active {
    color: #495057;
}

.new {
    padding-bottom: 0.35rem;
}

@media screen and (min-width: 576px) {

    .nav-link {
        padding-bottom: 0.4rem;
    }
    
}